html {
  font-size: 10px;
  background-color: #98BCF4;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 100px;
  line-height: 1;
  margin-bottom: 0;
}

.score {
  background: blue;
  padding: 0 48px;
  line-height: 1;
  border-radius: 16px;
  color: #fff;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}
